<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
 <hibernate-configuration>
 	<session-factory>
 	
 		<property name="hibernate.connection.url">jdbc:postgresql://bank-app.cxk7mmlgp26b.us-east-1.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">password</property>
 		<property name="hibernate.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<mapping class="com.revature.Models.User"/>
		<mapping class="com.revature.Models.Role"/>
		<mapping class="com.revature.Models.Reimbursement"/>
		<mapping class="com.revature.Models.R_status"/>
		<mapping class="com.revature.Models.R_type"/>
		<mapping class="com.revature.utils.ConnectionUtil"/>
 	
 	</session-factory>
 </hibernate-configuration>